body {
    background-image: url('../images/Fundo.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}